<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-ui-router.min.js"></script>

</head>

<body ng-controller="labController">
    <div class="container">
        <div class="jumbotron">
            <h1>Promises, HTTP and Resources</h1>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="number" ng-model="model.number" class="form-control" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="button" ng-click="checkOddNumber(model.number)" class="btn btn-primary" value="Check Odd Number" />
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                <pre>{{model.result}}</pre>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="button" class="btn btn-primary" value="Load Repos" ng-click="getRepos()" ng-hide="model.repos" />
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <table class="table table-striped" ng-show="model.repos">
                    <tr>
                        <th>Name</th>
                        <th>Language</th>
                    </tr>
                    <tr ng-repeat="r in model.repos">
                        <td>
                            <h4>{{r.name}}</h4> {{r.description}}
                        </td>
                        <td>
                            {{r.language}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    </div>

    <script src="./app/app.js"></script>
    <script src="./app/labController.js"></script>
</body>

</html>