<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>HTTP and Resources</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-ui-router.min.js"></script>
    <script src="./lib/angular-resource.min.js"></script>
</head>

<body ng-controller="labController">
    <div class="container">
        <div class="jumbotron">
            <h1>Promises, HTTP and Resources</h1>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="number" ng-model="model.number" class="form-control" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="button" ng-click="checkOddNumber(model.number)" class="btn btn-primary" value="Check Odd Number" />
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                <pre>{{model.result}}</pre>
            </div>
        </div>
        <hr>
        <div class="row top-buffer">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" ng-model="model.org" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="button" class="btn btn-primary" value="Load Repos" ng-click="getRepos(model.org)" ng-hide="model.repos" />
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <table class="table table-striped" ng-show="model.repos">
                    <tr>
                        <th>Name</th>
                        <th>Language</th>
                    </tr>
                    <tr ng-repeat="r in model.repos | filter: model.org">
                        <td>
                            <h4>{{r.name}}</h4> {{r.description}}
                        </td>
                        <td>
                            {{r.language}}
                        </td>
                        <td><input type="button" class="btn btn-success" ng-click="loadDetail(r.name)" value="Detail"></td>
                    </tr>
                </table>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-show="model.detail">
                <div class="jumbotron">
                    <h3>Detail</h3>
                    <div ng-show="model.detail.error" class="alert alert-danger">
                        <h3>Error</h3>
                        {{model.detail.message}}
                    </div>
                    <div>
                        <h4>Name</h4>
                        {{model.detail.name}}
                    </div>
                    <div>
                        <h4>Description</h4>
                        {{model.detail.description}}
                    </div>
                    <div>
                        <h4>URL</h4>
                        <a ng-href="{{model.detail.html_url}}" target="_blank">
                            {{model.detail.html_url}}</a>
                    </div>
                    <div>
                        <h4>Raw Data</h4>
                        <pre> {{model.detail | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    <script src="./app/gitHubService.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/labController.js"></script>
</body>

</html>